ul{
  list-style      : circle inside;
}
ol{
  list-style      : decimal inside;
}
ol, ul{
  padding-left    : 0;
  &.none{
    list-style: none;
    margin-top: 0;
 }
}
/*  sublists */
li{ 
	ul,ol{
  		margin          : ($UNIT / 2) 0 0 $UNIT;
  		font-size       : $FONT_SIZE_SMALL;
	}
}
li{
  margin-bottom   : $UNIT;

}
