// Defaults which you can freely override
$gutter-width: 4%;
$columns: 12;
$total-width: 100%;

//////////
// GRID //
//////////

@mixin row($columns:$columns) {
	display: block;
	@include clearfix();
}
@mixin column($size_col,$cols_in_row) {
	box-sizing: border-box;
	display: inline;
	float: left;
	$real_columns : $cols_in_row - 1;
	$container-width:$total-width - ($gutter-width *$real_columns);
	width: ($container-width*$size_col) / $columns;
	margin-right: $gutter-width;
}
//TODO
@mixin push($offset:1) {
	margin-left: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
}
@mixin pull($offset:1) {
	margin-right: $total-width*((($gutter-width+$column-width)*$offset) / gridsystem-width($columns)) + $total-width*(($gutter-width*.5)/gridsystem-width($columns));
}